@model List<Spedizione>

@{
    var numeroSpedizioni = ViewBag.NumeroSpedizioni;
    Dictionary<string, int> spedizioniCitta = ViewBag.SpedizioniCitta;
}

<h1 class="red-text fw-bold">Spedizioni di oggi</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id Cliente</th>
                <th>Data di spedizione</th>
                <th>Consegna prevista</th>
                <th>Destinazione</th>
                <th>Indirizzo</th>
                <th>Costo di spedizione</th>
                <th>Peso (kg)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var spedizione in Model)
            {
                <tr>
                    <td>@spedizione.SpedizioneId</td>
                    <td>@spedizione.ClienteId</td>
                    <td>@spedizione.DataSpedizione</td>
                    <td>@spedizione.DataConsegna</td>
                    <td>@spedizione.CittaDestinataria</td>
                    <td>@spedizione.Indirizzo</td>
                    <td>@spedizione.CostoSpedizione &euro;</td>
                    <td>@spedizione.Peso</td>
                    <td><a class="btn btn-dark fw-bold" asp-controller="Admin" asp-action="RegistraAggiornamento" asp-route-id="@spedizione.SpedizioneId">Inserisci aggiornamento</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />

<h1><span class="red-text fw-bold"> Spedizioni non ancora effettuate </span> : @numeroSpedizioni</h1>

<br />

<h1 class="red-text fw-bold">Spedizioni per città</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Città</th>
                <th>N° spedizioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in spedizioniCitta)
            {
                <tr>
                    <td>@entry.Key</td>
                    <td>@entry.Value</td>
                </tr>
            }
        </tbody>
    </table>
</div>